.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.grey{
    background-color: grey;
}

.white{
    background-color:white;
}

body{
    background-image: url("images/kamer.png");
    background-size: cover;
    background-position: center;
}

#kaartje{
    position:absolute;
    left:300px;
    top:50px;
    width:620px;
    height:420px;
    border-radius:20px;
}

#image{
    position: absolute;
    left:70px;
    top:0px;
}

#kopje{
    position:absolute;
    top:170px;
    left:30px;
    font-size: 22px;
}

#startBtn{
    position:absolute;
    top:300px;
    left:70px;
    width:150px;
    height:80px;
    background-color:blue;
    color:white;
    font-size:30px;
    font-weight: bold;
    border-radius:20px;
    border:2px solid blue;
}

#container{
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%);
}

#title{
    color:blue;
}

#pro2{
    position:absolute;
    top:500px;
    left:566px;
    color:white;
    width:120px;
    height:40px;
    border-radius:5px;
    z-index:4;
}

#contra2{
    position:absolute;
    top:500px;
    left:866px;
    color:white;
    width:120px;
    height:40px;
    border-radius:5px;
    z-index:4;
}

#nextBtn{
    position:absolute;
    top:500px;
    left:716px;
    color:white;
    width:120px;
    height:40px;
    border-radius:5px;
    z-index:4;
}

#prevBtn{
    width:50px;
    height:50px;
    position:absolute;
    left:30px;
    top:30px;
    background-color: grey;
    border:2px solid grey;
}

#list{
    max-width:300px;
    position: absolute;
    top:400px;
    left:400px;
}

#bigParties{
    position:absolute;
    top:170px;
    left:530px;
    color:white;
    background-color:green;
    width:220px;
    height:60px;
    border-radius:5px;
}

#secularParties{
    position:absolute;
    top:170px;
    left:784px;
    color:white;
    background-color:green;
    width:220px;
    height:60px;
    border-radius:5px;
}

#secularPartiesNames{
    position: absolute;
    top:350px;
    left:460px;
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#bigPartiesNames{
    position: absolute;
    top:350px;
    left:500px;
    width: 800px;
    height:150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#bestPartie{
    position: absolute;
    top:350px;
    left:460px;
    width: 800px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#skipButton{
    position:absolute;
    top:500px;
    left:1030px;
    width:250px;
    border-radius:5px;
    z-index:4;
}
