body{
    background-image: url("images/kamer.png");
    background-size: cover;
    background-position: center;
}

#kaartje{
    position:absolute;
    left:300px;
    top:50px;
    width:620px;
    height:420px;
    border-radius:20px;
}

#image{
    position: absolute;
    left:70px;
    top:0px;
}

#kopje{
    position:absolute;
    top:170px;
    left:30px;
    font-size: 22px;
}

#startBtn{
    position:absolute;
    top:300px;
    left:70px;
    width:150px;
    height:80px;
    background-color:blue;
    color:white;
    font-size:30px;
    font-weight: bold;
    border-radius:20px;
    border:2px solid blue;
}

#container{
    position:absolute;
    top:200px;
    left:50%;
    transform: translate(-50%);
}

#title{
    color:blue;
}

#pro2{
    position:absolute;
    top:500px;
    left:566px;
    color:white;
    background-color:green;
    width:120px;
    height:40px;
    border-radius:5px;
}

#contra2{
    position:absolute;
    top:500px;
    left:866px;
    color:white;
    background-color:red;
    width:120px;
    height:40px;
    border-radius:5px;
}

#nextBtn{
    position:absolute;
    top:500px;
    left:716px;
    color:black;
    background-color: grey;
    width:120px;
    height:40px;
    border-radius:5px;
}

#prevBtn{
    width:50px;
    height:50px;
    position:absolute;
    left:30px;
    top:30px;
    background-color: grey;
    border:2px solid grey;
}

#list{
    max-width:300px;
    position: absolute;
    top:400px;
    left:400px;
}